@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #030022; 
}


/* ---------- DESKTOP NAVBAR  ---------- */


.nav-link {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #0000ff, #ff00ff); 
    transition: width 0.5s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-link.active::after {
    width: 100%;
  }

.Logo{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ---------- Hero Section ---------- */

.backgroundHero{
  border-radius: 20px;
}

.backgroundContact{
  border-radius: 20px;
}

/* ---------- Hero Section / Button (Facilite seu processo) ---------- */

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-bg {
    background: linear-gradient(270deg, #0000FF, #8A2BE2, #00007c);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
  }

/* ---------- Hero Section / Button (rolar para baixo) ---------- */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 2s infinite;
}


.clients{
    background-color: #010139;
}

.expirience{
    background-color: #17006D;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.contact{
    background-color: white;
}

.contact:hover{
    background: linear-gradient(270deg, #0000FF, #8A2BE2, #00007c);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}






.lineDeal{
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
}

.deal{
  border-top-right-radius: 246px;
  border-bottom-right-radius: 246px;
}




.buttons {
  background-color: #0058DC;
  font-size: 15px;
}

.buttons li {
  background-color: white;
  color: #030022;
}

.buttons li.active {
  background-color: #030022;
  color: white;
  border-top: 4px solid #FAFAFA;
  border-left: 4px solid #FAFAFA;
  border-right: 4px solid #FAFAFA;
  border-radius: 12px 12px 0 0;
  transform: translateY(12px);
}

.content-services {
  background-color: #030022;
}

.content-services .cards {
  color: #030022;
}









.testimonials-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.testimonial {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1);
  color: black;
  opacity: 0.3; 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 30%;
}

.testimonial.active {
  opacity: 1; 
}


.card-container {
  padding: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 50px;
  text-align: start;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}



.card.left,
.card.right {
  opacity: 0.5; 
}

.card.center {
  opacity: 1; 
}


.card-container:hover .card {
  animation-play-state: paused;
}







.logo{
  border-radius: 50px;
}

.logo:hover{
  transform: scale(1.2);
  transition: 0.5s ease-in-out, transform 0.5s ease-in-out;
}





.card3, .card24, .card15 {
  transition: scale 0.9s ease-in-out, z-index 0.9s ease-in-out, filter 0.9s ease-in-out, z-index 0.9s ease-in-out;
}


.card3{
  scale: 1;
  z-index: 3;
}

.card24{
  scale:0.9;
  z-index: 1;
  filter: blur(2px);
}

.card15{
  scale:0.75;
  z-index: auto;
  filter: blur(4px);
}



/* Customizando as setas */
.slick-prev, .slick-next {
  width: 40px; /* Largura das setas */
  height: 40px; /* Altura das setas */
  z-index: 1; /* Mantém as setas na frente dos slides */
}

/* Customizando o conteúdo das setas */
.slick-prev:before, .slick-next:before {
  font-size: 40px; /* Aumenta o tamanho do ícone das setas */
  color: blue; /* Muda a cor das setas */
}
