@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.font-alfa {
  font-family: 'Alfa Slab One';
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #9F53FF;
    overflow-x: hidden;
}



/* ---------- DESKTOP NAVBAR  ---------- */


.nav-link {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #0000ff, #ff00ff); 
    transition: width 0.5s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-link.active::after {
    width: 100%;
  }

.Logo{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ---------- Hero Section ---------- */

.backgroundHero{
  border-radius: 20px;
}

.backgroundContact{
  border-radius: 20px;
}

.hero-background {
  background-image: url('/fundo3.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}


/* ---------- Hero Section / Button (Facilite seu processo) ---------- */

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-bg {
    background: linear-gradient(270deg, #0000FF, #8A2BE2, #00007c);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
  }

/* ---------- Hero Section / Button (rolar para baixo) ---------- */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 2s infinite;
}


.clients{
    background-color: #010139;
}

.expirience{
    background-color: #17006D;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.contact{
    background-color: white;
}

.contact:hover{
    background: linear-gradient(270deg, #0000FF, #8A2BE2, #00007c);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}






.lineDeal{
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
}

.deal{
  border-top-right-radius: 246px;
  border-bottom-right-radius: 246px;
}




.buttons {
  background-color: #9F53FF;
  font-size: 15px;
}

.buttons li {
  background-color: white;
  color: #030022;
}

.buttons li.active {
  background-color: #512885;
  color: white;
  border-top: 4px solid #FAFAFA;
  border-left: 4px solid #FAFAFA;
  border-right: 4px solid #FAFAFA;
  border-radius: 12px 12px 0 0;
  transform: translateY(13px);
}

.content-services {
  background-color: #512885;
}

.content-services .cards {
  color: #030022;
}







.logo{
  border-radius: 50px;
}

.logo:hover{
  transform: scale(1.2);
  transition: 0.5s ease-in-out, transform 0.5s ease-in-out;
}






.card3, .card24, .card15 {
  transition: transform 0.9s ease-in-out, z-index 0.9s ease-in-out, filter 0.9s ease-in-out;
}

.card3 {
  transform: scale(1);
  z-index: 1000;
}

.card24 {
  transform: scale(0.9);
  z-index: 500;
  filter: blur(2px);
}

.card15 {
  transform: scale(0.75);
  z-index: 100;
  filter: blur(4px);
}








